<div>
  <h2>Lista de tareas</h2>
  <ul>
    <li *ngFor="let tarea of tareasPaginadas; let i = index">
      {{i + 1}}. {{tarea}}
      <button (click)="eliminarTarea(i)">Eliminar</button>
    </li>
      <input type="text" placeholder="Nueva Tarea"[(ngModel)]="nuevaTarea" (keyup.enter)="agregarTarea()"/>
      <button (click)="agregarTarea()">Agregar Terea</button>
  </ul>
  <div *ngIf="totalPages > 1" class="pagination">
    <button (click)="previousPage()" [disabled]="pageNumber === 1"> << </button>
    <span>Página {{pageNumber}} de {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="pageNumber === totalPages"> >> </button>
  </div>

</div>

